.topcontent{
    color: white;
    position: relative;
    
}

.topcontent__container
{
    position: absolute;
    top:100px;
    text-align: center;
    justify-content: center;
    margin-left: 450px ;
    
}
   
    










