.projectcontainer{
    color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.projectcontainer_project{
    display: flex;
    width: 0.6;
    flex-wrap: wrap;
    justify-content: center;
   
}
