h1{
    
    padding-top:100px;
    text-align: center;
    color: white;
}

.contact_container {
   
    border: 2px white solid;
    width: 600px;
    margin-left:300px ;
    
}

.contact_container >p{
    color:white;
    text-align: center;
    justify-content: center;
    padding: 2px;
    
}

.contact_container >p >span{
    color:red;
}

